<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_login.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Admin Login</title>
</head>
<body>
    <section class="vh-100">
      {% with teacher_messages = get_flashed_messages()%}
      {% if teacher_messages %}
      {% for message in teacher_messages %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="close">
             <span aria-hidden="true">x</span>
         </button>
         {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

        <div class="container-fluid h-custom mt-md-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="{{ url_for('static', filename='img/login.png') }}"
                class="img-fluid" alt="Admin image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form method="POST">
                <!-- Admin input -->
                <div class="form-outline mb-4">
                  <label class="form-label text-primary" for="admin">Admin Name</label>
                  <span id="name-error"></span>
                  <input type="text" id="admin" pattern="[A-Za-z]+" name="admin"
                  class="form-control form-control-lg admin_name" placeholder="Enter admin name" onkeyup="validateName()" required/>
              </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                    <label class="form-label text-primary" for="pass">Password</label>
                  <input type="password" id="pass" class="form-control form-control-lg pwd" name="pass"
                    placeholder="Enter password" maxlength="8" required/>
                </div>
      
                <div class="d-flex align-items-end justify-content-between my-2 float-right">
                  <a href="" class="text-body text-primary">Forgot password?</a>
                </div>
      
              <div class="btn-group d-flex mb-4">
                <div class="col text-lg-start mt-5">
                  <button type="button" onclick="window.location='/'" class="btn btn-lg hover-btn-outline-primary">Back</button>
                </div>

                <div class="col text-lg-start mt-5">
                  <button type="submit" class="btn btn-lg hover-btn-outline-primary">Login</button>
                </div>
              </div>
      
              </form>
            </div>
          </div>
        </div>
      </section>
      <footer class="d-flex flex-column k-footer">
        <!-- Copyright -->
        <div class="mb-3 mb-md-0 p-4">
          Copyright © 2022. All rights reserved.
        </div>
        <!-- Copyright -->
      </footer>
      <script src="{{ url_for('static', filename='js/admin_login.js') }}"></script>
</body>
</html>