{% extends "admin_dash.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
    <title>History</title>
</head>
<body>
    <div class="table-responsive">
        <table class="table table-striped table-hover t">
            <tr>
                <th>Teacher Name</th>
                <th>Teacher Log In</th>
                <th>Teacher Log Out</th>
            </tr>
            {% for data in history %}
            <tr>
                <td>{{data.2}}</td>
                <td>{{data.5}}</td>
                <td>{{data.6}}</td>
            </tr>
            {% endfor %}
            </table>
    </div>
</body>
</html>
{% endblock %}