
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OSM Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>
        <input type="checkbox" id="menu">
    <nav class="d-flex justify-content-between align-items-center c"> 
        <label class="d-flex align-items-center">
            <img class="mx-4" src="{{ url_for('static', filename='img/remove.png') }}" width="100">
            <h4 class="d-flex flex-wrap">NAGINDAS KHANDWALA COLLEGE (AUTONOMOUS)</h6>
        </label>
        <div class="menu-barr d-flex">
            {% if session.teacher_loggedin %}
                <h5 style="color: aliceblue;">Hello,{{ session.teacher_name }}</h5>
                <button class="btn btn-success mx-5 float-end" onclick="window.location='/logout'">Logout</button>
            {% else %}
                <button class="btn btn-success mx-5 float-end" onclick="window.location='/teacher/login'">Login</button>
            {% endif %}
                <label for="menu" class="menu-bar mt-3"> <i class="fa fa-bars"></i></label>
        </div>
    </nav>
        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Select <b>Papers</b></h2>
                            </div>
                            <!-- <div class="col-sm-6">
                                <a href="#paperSelectModal" class="btn btn-success" data-toggle="modal" data-target="#myModal"><i class="material-icons">&#xE147;</i> <span>Add New Teacher</span></a>						
                            </div> -->
                        </div>
                    </div>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <th>Subject Name</th>
                            <th>Courses</th>
                            <th>Class</th>
                            <th>Count</th>
                            <th>Apply</th>
                        </tr>
                        </thead>
                        {% for row in data %}
                        <tr>
                            <!-- <td class="num">{{ row.0 }}</td> -->
                            <td>{{ row.0 }}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>
                            <td><a href="/teacher/dashboard/select/paper" class="edit"  data-toggle="modal" data-target="#modaledit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        </tr>
                        {% endfor %}
                    </table></div></div>
                        <!--Modal Edit-->
                        <div id="modaledit" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Select Paper</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Continue</th>
                                            </tr>
                                            </thead>
                                            {% for row in data2 %}
                                            <tr>
                                                <td>{{ row.0 }}</td>
                                                <td><a href="/teacher/paper/{{ row.0 }}"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a></td>
                                            </tr>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>   
    </body>
    </html>